label, input
    max-width: 100%
label
    font-weight: 400
input
    padding: 5px
    border-radius: 6px
    border: none
    width: auto
*
    letter-spacing: +0.142px
    font-family: 'Lato', sans-serif
    font-size: 1.025rem

body
    overflow: auto

