/vendor/
node_modules/
npm-debug.log
yarn-error.log
.github

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
/public/build
/public/hot
/public/storage
/storage/*.key

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Laravel Other
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/.phpunit.cache
/vendor

# ENV and Fragile Files
.env.backup
.env.production
auth.json
.env

# IDE Files
/.fleet
/.idea
/.vscode
