// _colors.sass

$colors: (
    // Background Shades
    background: (
        primary: #4DA2D4,
        secondary: #107CBC,
        accentPrimary: #BCE6FF,
        accentSecondary: #7DC3EC,
        pageBackground: #f2f8ff,
    ),

    // Background components
    backgroundComponents: (
        BasicWindow: #DFF1FF,
    ),

    // Content Shades
    content: (
        textTitle: #0D4667,
        textLink: #9b59b6,
        textHover: #4DA2D4,
        textActive: #107CBC,
        inputBackground: #C9E0F2,
    )
);

$backgroundPrimary: red
