/*
*
*
*/

$MobileBreakingPoint: 800px;
$BorderRadius: 6px;

// Dashboard UI Components
$MainNDashboardNavbarHeight: 80px;
$DashboardNavbarSideMargins: 60px;
$NavigationIconSize: 2.3rem;
$SearchBarWidth: 340px;
$SearchBarSpacing: 30px;
$AvatarBorderSize: 2.5px;

$MainSubmenuWidth: 60px;

